:root {
  --main-bg-color: #e5e5e5;
  --banner-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;

  --section-title-size: 36px;
  --section-title-lineHeight: 42px;
  --section-title-color: #212121;
  --section-title-wegth: 700;
  --section-title-style: normal;
}
li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
a,
address {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
body {
  min-width: 1600px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* TITLE */
/* H1 */
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  color: #ffff;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
}
/* H2 */
.sub-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
/* H3 */
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

/* LOGO */
.logo {
  display: inline-block;
  margin: 0 0 0 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
/* =======HEADER================ */
header {
  display: inline-block;
  width: 100%;
  padding: 0.925% 0;
}
.header__logo span {
  color: #000;
}
.header__menu {
  display: inline-block;
  margin: 0 0 0 93px;
}
.menu__list {
  padding: 0;
}
.menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  cursor: pointer;
}
.menu__list li:nth-child(2) {
  margin: 0 50px 0 50px;
}
.menu__link.active {
  color: #2196f3;
}
.menu__link:hover {
  color: #2196f3;
}
.header__contacts {
  display: inline-block;
  margin: 0 15px 0 297px;
  padding: 0;
}
.contacts__link {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  padding: 0;
}
.header__contacts li:first-child {
  margin: 0 50px 0 0;
}
.header__contacts a:hover {
  color: #2196f3;
}
/*==========BANNER==========*/
.banner {
  background-color: var(--banner-bg-color);
  padding: 179px 0;
  text-align: center;
}
.banner h1 {
  padding: 0 23%;
}
.banner button {
  width: 200px;
  height: 50px;
  text-align: center;
  background: #2196f3;
  color: #ffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}
/*=========RESPONS=========*/
.respons__item {
  display: inline-block;
  text-align: center;
  width: 23%;
}
.respons__item h3 {
  text-align: center;
}
.respons__item p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

/*==========TASKS=========*/
.page__tasts {
  text-align: center;
}
.tasks__list {
  margin: 0;
  padding: 0;
}
.tasks__item:nth-child(2) {
  margin: 0 41px;
}
.tasks__item {
  display: inline-block;
  text-align: center;
}
/*===========TEAM=========*/
.page__team {
  background-color: var(--team-bg-color);
  text-align: center;
}
.team__list {
  margin: 0;
  padding: 0;
}
.team__item {
  display: inline-block;
  text-align: center;
  background-color: #ffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:nth-child(2) {
  margin: 0 36px;
}
.team__item:nth-child(3) {
  margin: 0 35px 0 0;
}
.team__item p:first-of-type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__item p:last-of-type {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
}
/*=========FOOTER===========*/
.footer {
  background-color: var(--footer-bg-color);
}
.footer__logo {
  margin: 60px 0 20px 15px;
}
.footer__logo span {
  color: #ffff;
}
.footer__contacts {
  font-style: normal;
  padding: 0 0 60px 0;
}
.f-contacts__list {
  margin: 0 0 0 15px;
  padding: 0;
}
.f-contacts__list li {
  display: block;
  margin: 0 0 9px 0;
}
.f-contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.f-contacts__list li:first-child .f-contacts__link {
  color: #ffff;
}
